<h1>Listing ideas</h1>

<table>
  <thead>
    <tr>
      <th>S.No</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each_with_index do |idea, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= link_to idea.name, idea %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Idea', new_idea_path %>
